@charset "UTF-8";

#imgElems, #infoElems {
    width: 100%;
    text-align: center;
}
#imgElems img {
    border: 6px ridge #F90;
    width: 30vh;
    height: 40vh;
    max-width: 100%;
}
#imgElems a:hover, #imgElems a:active {
	background-color: rgb(243, 204, 182);
    width: 40vh;
    height: 50vh;
}